.about-achivements {
    margin-top: 3rem;
}


/*HEADER*/
.header{
    position: relative;
    top: 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: var(--color-bg1);
    margin-bottom: 6rem;

  }

  .description-header-container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .description-header-left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .description-header-left h3{
    font-size: 50px;
  }
  .description-header-left h4 {
    margin-bottom: 0.6rem ;
  }

  .description-header-left p {
    margin: 1.2rem 0 2rem;

  }

  .description-header-right {
    position: relative;
    height: 100%;
  }

  .header-image {
    display: flex;
    justify-content: center;
  }

  .header-image img {
    width: 50%;

  }

/*TEAM*/

.team {
    margin-top: 3rem;

}

.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.team-member {
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team-member:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.team-member-image img {
    filter: saturate(0);
}

.team-member-image:hover img {
    filter: saturate(1);
}

.team-member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team-member-info p {
    color: var(--color-light);
    margin-top: 0;
}

.team-member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team-member:hover
.team-member-socials {
    right: 0;
}

.team-member-socials a {
    padding: 1rem;
}




/* MEDIA QUERIES TABLET*/



@media screen and (max-width: 1024px) {

    .header-image img {
        width: 100%;

      }

    .description-header-container {
        align-items: flex-end;
        height: 100%;
    }

    .description-header-left {
        margin-bottom: 6rem;
    }

    .description-header-right {
        align-items: flex-end;
        height: 100%;
    }

    .header-right-bg {
        width: 25rem;
        height: 25rem;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
    }


    .about-achivements {
        margin-top: 2rem;
    }

    .about-achivements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about-achivements-left {
        width: 80%;
        margin: 0 auto;
    }

    .team-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team-member {
        padding: 1rem;
    }

    /*PRICES*/

    .services-box-container {
        flex-wrap: wrap;
    }

    .services{
        height: auto;
    }

    .services-heading {
        margin: 15px;
    }

    .services-box {
        flex-grow: 1;
    }
}

/*MEDIA QUERIES PHONE*/

@media screen and ( max-width: 600px){
    .header-image img {
        width: 100%;

      }

    .description-header-left {
        text-align: center;

    }

    .description-header-left p {
        margin: 0.5rem 0 1.2rem;
        text-align: justify;
    }
    .description-header-left h3 {
        font-size: 2.2rem;
    }

    .achivements-cards {
        grid-template-columns: 1fr 1fr;
        gap:  0.7rem;
    }

    .achivements-card p {
        font-size: 0.7rem;
    }

    .team-container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team-member {
        padding: 0;
    }

    .team-member p {
        margin-bottom: 1.5rem ;
    }
}

@media screen and ( max-width: 450px){

    .header-image img {
        width: 100%;

      }


    .description-header-left {
        text-align: center;

    }

    .description-header-left p {
        margin: 0.5rem 0 1.2rem;
        text-align: justify;
        font-size: .975rem;
    }
    .description-header-left h3 {
        font-size: 1.8rem;
    }



}

