.about-achivements {
    margin-top: 3rem;
}


/*HEADER*/
.header{
    height: calc(100vh - 5rem);
    position: relative;
    top: 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: var(--color-bg1);
    margin-bottom: 6rem;
      
  }
  
  .description-header-container{
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100%;
  }
  
  .description-header-left {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .description-header-left h3{
    font-size: 50px;
  }
  .description-header-left h4 {
    margin-bottom: 0.6rem ;
  }
  
  .description-header-left p {
    margin: 1.2rem 0 2rem;
    
  }
  
  .description-header-right {
    position: relative;
    height: 100%;
  }
  
  
  .header-right-bg {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background: var(--color-warning);
    position: absolute;
    right: -20rem;
    bottom: -22rem;
  }
  
  
  .header-image {
    width: 220%;
    position: absolute;
    bottom: -10rem;
    right: -20rem;
    z-index: 1;
  }

/*TEAM*/

.team {
    margin-top: 3rem;

}

.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.team-member {
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team-member:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.team-member-image img {
    filter: saturate(0);
}

.team-member-image:hover img {
    filter: saturate(1);
}

.team-member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team-member-info p {
    color: var(--color-light);
}

.team-member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team-member:hover
.team-member-socials {
    right: 0;
}

.team-member-socials a {
    padding: 1rem;
}


/*PRICES*/
.services {
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
  }

  .services-heading {
    text-align: center;
  }

  .services-heading h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0px;
  }

.services-heading p {
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}

.mail {
    font-size: 1rem;
    margin: 5px;
    text-align: justify;
}
.services-box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-box i {
    font-size: 75px;
    margin-bottom: 20px;
}


.services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 20px 30px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    margin: 30px;
    background: var(--color-bg1);
    position: relative;
}

.services-box h1 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.s-btn {
    width: 164px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgba(74, 144, 226, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.services-box:hover {
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: all ease 0.3s;
}

.bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
    background: var(--color-white);
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
    
}

.services-box:hover .bar {
    display: block;
}

  

/*KEYFRAMES*/

@keyframes bar {
    0% {
        width: 0px;
    }

    100% {
        width: 100px;
    }
}
  

/* MEDIA QUERIES TABLET*/



@media screen and (max-width: 1024px) {

    .header{
        height: 100%;
        padding: 14rem 0 0;
    }

    .description-header-container {
        align-items: flex-end;
        height: 100%;
    }

    .description-header-left {
        margin-bottom: 6rem;
    }

    .description-header-right {
        align-items: flex-end;
        height: 100%;
    }

    .header-right-bg {
        width: 25rem;
        height: 25rem;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
    }

    .header-image {
        bottom: -1rem;
        right: -14rem;
        width: 200%;
    }

    .about-achivements {
        margin-top: 2rem;
    }

    .about-achivements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about-achivements-left {
        width: 80%;
        margin: 0 auto;
    }

    .team-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team-member {
        padding: 1rem;
    }

    /*PRICES*/

    .services-box-container {
        flex-wrap: wrap;
    }

    .services{
        height: auto;
    }

    .services-heading {
        margin: 15px;
    }

    .services-box {
        flex-grow: 1;
    }
}

/*MEDIA QUERIES PHONE*/

@media screen and ( max-width: 600px){

    .header {
        height: 100vh;
        padding: 0;
    }

    .description-header-container {
        grid-template-columns: 1fr;
        margin-top: 4.4rem;
        gap: 0;
    }

    .description-header-left {
        text-align: center;
       
    }

    .description-header-left p {
        margin: 0.5rem 0 1.2rem;
        text-align: justify;
    }
    .description-header-left h3 {
        font-size: 2.2rem;
    }

    .header-image {
        width: 75%;
        left: 5rem;
        
    }

    .header-right-bg {
        bottom: -10%;
    }

    .achivements-cards {
        grid-template-columns: 1fr 1fr;
        gap:  0.7rem;
    }

    .achivements-card p {
        font-size: 0.7rem;
    }

    .team-container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team-member {
        padding: 0;
    }

    .team-member p {
        margin-bottom: 1.5rem ;
    }
}

@media screen and ( max-width: 450px){

    .header {
        height: 100vh;
        padding: 0;
    }

    .description-header-container {
        grid-template-columns: 1fr;
        margin-top: 4.4rem;
        gap: 0;
    }

    .description-header-left {
        text-align: center;
       
    }

    .description-header-left p {
        margin: 0.5rem 0 1.2rem;
        text-align: justify;
        font-size: .975rem;
    }
    .description-header-left h3 {
        font-size: 1.8rem;
    }

    .header-image {
        width: 75%;
        left: 4rem;
        bottom: 2rem;
        
    }

    .header-right-bg {
        bottom: -60%;
    }

   
}

