h2 {
  padding: 0.5rem;
}

p, ul li {
  line-height: 1.2;
}

.hackList {
  margin-bottom: 0.5rem;
}

.hackList li {
  list-style: disc;
  text-align: justify;
}

.hackList-risc {
  text-decoration: line-through;
}

.paragrafo {
  padding: 1rem;
  text-align: justify;
}

.hackLink {
  text-decoration: underline;
  color: var(--color-danger);
}

.section-buttons {
  display: flex;
  justify-content: center;
}
