h2 {
  padding: 0.5rem;
}

.titulo-base {
  margin-bottom: 0.1rem;
  font-weight: 500;
  margin-bottom: 80px;
  position: relative;
  margin-top: 80px;
}


.titulo-base::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right,  rgb(106, 6, 236), rgb(220, 0, 240));
  transform: translateX(-50%);
}

.hackList {
  margin-bottom: 0.5rem;
}

.hackList li {
  list-style: disc;
  text-align: justify;
}

.paragrafo {
  padding: 1rem;
  text-align: justify;
}

.hackLink {
  text-decoration: underline;
  color: var(--color-danger);
}

.section-buttons {
  display: flex;
  justify-content: center;
}
