* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-sucess: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/*NAVBAR BEGIN*/
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    background: var(--color-bg1);
}

/* NAVBAR CHANGE*/
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--color-bg2);
}


/*NAVBAR END*/

/*HEADER BEGIN*/
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    background: var(--color-bg1);
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left p {
    margin: 1rem 0 2.4rem;
}

/*HEADER END*/

/*PARTNERS*/


.partners-container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.partners-container h1 {
    text-align: center;
}

.avatar-partner {
    width: 16rem;
    height: 16rem;
    border-radius: 10%;
    overflow: hidden;
    margin: 0 auto 1rem;
    
}

.partner-info {
    text-align: center;
}


/*CATEGORIES BEGIN*/
.categories {
    background: var(--color-bg1);
    height: 28rem;
}

.categories h2 {
    line-height: 1;
    margin-bottom: 1rem;
}

.categories-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}



.categories-left {
    margin-right: 2rem;
}

.categories-left p {
    margin: 1rem 0 3rem;
}


.categories-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    font-size: 0.9rem;
}

.category {
    background: var(--color-bg2);
    padding: .5rem;
    border-radius: .2rem;
    transition: var(--transition);
}

.category:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 3);
    z-index: 1;
}


.category h5 {
    margin: 2rem 0 1rem;
    text-align: center;
}

.category p {
    font-size: 0.85rem;
}

/*CATEGORIES END*/

/*TIMER BEGIN*/
.container-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.container-timer h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}


.countdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.countdown div {
    margin: 10px;
}

.countdown p {
    padding: 20px;
    background: hsl(236, 21%, 26%);
    border-radius: 5px;
    color: hsl(345, 95%, 68%);
    font-size: 46px;
    padding: 20px;
    font-weight: 900;
}



.countdown h3 {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 10px;
}

/*TIMER END*/

/*QUESTION BEGIN*/
.faqs {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs h2 {
    margin-top: 1rem;

}

.faqs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq-icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}

/*QUESTION END*/

/*EVENT ORGANIZATION  BEGIN*/
.orgs-container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.org {
    padding: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.org-info {
    text-align: center;
}

.org-body {
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.org-body::before {
    content: "";
    display: block;
    background: linear-gradient(
        135deg, 
        transparent,
        var(--color-primary), var(--color-primary),
        var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/*EVENT ORGANIZATION  END*/

/*FOOTER BEGIN*/
footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
    
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer-container > div h4 {
    margin-bottom: 1.2rem;
}

.footer-1 p {
    margin: 0 0 2rem;
}

.footer-4 p {
    font-size: 12px;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer-copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup .content-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    width: 900px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
/*FOOTER  END*/

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {

    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }

    /*KEYFRAMES*/

    @keyframes animateNavItens {
        0% {
            transform: rotateZ(-90deg);
        }

        100% {
            transform: rotateZ(0);
        }
    }

    /*NAVBAR*/

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button.close-menu-btn {
        display: none;
    }

    .nav-menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav-menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItens 400ms linear forwards;
        transform-origin: top right;
    }

    

    .nav-menu li a {
        background: var(--color-primary);
        box-shadow:  -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }

    /*HEADER*/

    header {
        height: 52vh;
        margin-bottom: 4rem;
    }

    .header-container {
        gap: 0;
        padding-bottom: 3rem;
    }

    /*CATEGORIES*/

    .categories {
        height: auto;
    }

    .categories-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories-left {
        margin-right: 0;
    }


    /*FAQs*/

    .faqs-container{
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }

    /*FOOTER*/

    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}

/* MEDIA QUERIES (PHONES) */

@media screen and (max-width: 600px) {

    .container {
        width: var(--container-width-sm);
    }

    /*NAVBAR*/
    .nav-menu {
        right: 3%;
    }

    /*HEADER*/
    header {
        height: 100vh;
    }

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header-left p {
        margin-bottom: 1.3rem;
    }

    .btn-primary{
        margin-top: 10px;
    }
    

    /*CATEGORIES*/

    .categories-right {
        grid-template-columns: 1fr 1fr;
        gap: 1.7rem;
    }

    /*ORGANIZATION*/
    
    .org-body {
        padding:  1.2rem;
       
    }
    

    /*FOOTER*/

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer-1 p {
        margin: 1rem auto;
    }

    .footer-socials {
        justify-content: center;
    }
}