
/*TABS TIMELINE*/


.tabs {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabs-head {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 30px;
    padding: 10px 5px;

}

.tabs-toggle {
    margin: 0 5px;
    padding: 7px 25px;

    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.tabs-name {
    font-weight: 500;
    font-size: 30px;
}

small {
    font-size: 20px;
}

.tabs-content {
    display: none;
}

.tabs-toggle.is-active {
    background: var(--color-bg1);
}



.tabs-content.is-active {
    display: block;
}


/*TIMELINE*/

.timeline-main {
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: grid;
    place-items: center;
}

.timeline-main .heading {

    font-weight: 500;
    margin-bottom: 80px;
    position: relative;
    margin-top: 80px;
}

.heading::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-image: linear-gradient(to right,  rgb(106, 6, 236), rgb(220, 0, 240));
    transform: translateX(-50%);
}


.timeline-container {
    width: 70%;
    height: auto;
    position: relative;
}

.timeline-container ul::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background: var(--color-light);
}

.timeline-container ul li p{
    font-weight:bold ;
}

.timeline-container ul li {
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background: var(--color-bg1);
    box-shadow:  0 0 3rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}



.timeline-container ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
}

.timeline-container ul li:nth-child(odd) .date{
    right: 20px;
}

.timeline-container ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    text-align: right;
}

.timeline-container ul li:nth-child(4) {
    margin-bottom: 0;
}

.timeline-container ul li .title {
    font-size: 20px;
    font-weight: 500;
}

.block-info-timeline {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.block-info-timeline-right {
    justify-content: right;
}

.block-info-timeline-right p {
    margin-right: 0.5rem;
}

.block-info-timeline img {
    width: 3rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
}

ul li p {
    font-size: 15px;
    margin: 7px 0;
    line-height: 23px;
}

ul li .date {
    position: absolute;
    top: -36px;
    width: 135px;
    border-radius: 10px;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    font-size: 16px;
}


.timeline-container ul li .circle {
    width: 30px;
    height: 30px;
    background: var(--color-bg2);
    border-radius: 50%;
    position: absolute;
    top: 0;

}

.timeline-container ul li .circle::after {
    content: '';
    width: 18px;
    height: 18px;
    background: var(--color-bg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeline-container ul li:nth-child(odd) .circle {
    right: -30px;
    transform: translate(50%, -50%);
}

.timeline-container ul li:nth-child(even) .circle {
    left: -30px;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 1024px) {

    .timeline-container {
        width: 85%;
        transform: translateX(15px);
    }


}

@media screen and (max-width: 600px) {

    .tabs-name {
        font-weight: 500;
        font-size: 20px;
    }

    small {
        font-size: 22px;
    }

    .timeline-container {
        width: 80%;
    }

    .timeline-container ul::after {
        left: -30px;
    }

    .timeline-container ul li {
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }

    .timeline-container ul li:nth-child(odd) {
        transform: translateX(0);
        text-align: left;
    }

    .timeline-container ul li:nth-child(odd) .date {
        left: 20px;
    }

    .timeline-container ul li:nth-child(odd) .circle {
        left: -30px;
        transform: translate(-50% , -50%);
    }

    .timeline-container ul li:nth-child(even) {
        transform: translateX(0);
    }

}
