.h2 {
  padding: 0.5rem;
}

.p,
.ulLi {
  line-height: 1.2;
}

.articleList {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 0.5rem;
}

.articleList li {
  list-style: disc;
  text-align: justify;
  list-style-position: inside;
}

.articleListRisc {
  text-decoration: line-through;
}

.paragrafo {
  padding: 1rem;
  text-align: justify;
  font-size: 18px;
}

.articleLink {
  text-decoration: underline;
  color: var(--color-danger);
}

.sectionButtons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}


