.event-timelines {
  margin-top: 3rem;
}




/*COURSES*/

.courses-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.course {
  background: var(--color-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.course:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.course-info {
  padding: 2rem;
}

.course-image {
  width: 25rem;
}

.course-info p {
  margin: 1.2rem 0 2rem;
  font: 0.5rem;
}

@media screen and (max-width: 1024px) {

  .description-header-container {
    align-items: flex-end;
    height: 100%;
  }

  .description-header-left {
    margin-bottom: 6rem;
  }

  .description-header-right {
    align-items: flex-end;
    height: 100%;
  }

  .courses {
    margin-top: 0;
  }

  .courses-container {
    grid-template-columns: 1fr 1fr;
  }

  .course-image {
    width: 22rem;
  }

}

@media screen and (max-width: 600px) {

  .description-header-container {
    grid-template-columns: 1fr;
    margin-top: 4.4rem;
    gap: 0;
  }

  .description-header-left {
    text-align: center;

  }

  .description-header-left p {
    margin: 0.5rem 0 1.2rem;
    text-align: justify;
    font-size: .875rem;
  }

  .description-header-left h4 {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .description-header-left h1 {
    font-size: 1.8rem;
  }

  .description-header-left h5 {
    font-size: 1rem;
    margin-top: 1rem;
  }


  .courses-container {
    grid-template-columns: 1fr;
  }

  .course-image {
    width: 28rem;
  }

}

@media screen and (max-width: 450px) {

  .description-header-container {
    grid-template-columns: 1fr;
    margin-top: 4.4rem;
    gap: 0;
  }

  .description-header-left {
    text-align: center;

  }

  .description-header-left p {
    margin: 0.5rem 0 1.2rem;
    text-align: justify;
    font-size: .775rem;
  }

  .description-header-left h4 {
    margin-top: 2rem;
    font-size: .957rem;
  }

  .description-header-left h1 {
    font-size: 1.4rem;
  }

  .description-header-left h5 {
    font-size: .975rem;
    margin-top: 1rem;
  }

  .course-image {
    width: 24rem;
  }

}

@media screen and (max-width: 380px) {
  .course-image {
    width: 22rem;
  }
}
