.patrocinadores {
  margin-top: 2rem;
}

.patrocinadoresContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.patrocinadoresMember {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg2);
  padding: 1.5rem;
  border: 1px solid transparent;
  transition: var(--transition);
  border-radius: 10px;
}

.orgInfo {
  text-align: center;
}

.patrocinadoresMember {
  background-color: var(--color-bg2);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.patrocinadoresMember:hover {
  background-color: #F29D35;
  border-color: var(--color-secondary);
}

/* Tablets e dispositivos médios */
@media screen and (max-width: 768px) {
  .patrocinadoresContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Celulares e dispositivos pequenos */
@media screen and (max-width: 450px) {
  .patrocinadoresContainer {
    grid-template-columns: 1fr;
  }
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);  
}

.avatar img{
  margin-top: -1rem;
}

.org-info {
  text-align: center;
}