.contact-container {
    width: auto;
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 40rem;
    margin: 8rem 3rem;
    border-radius: 1rem;
}

/*ASIDE*/

.contact-aside {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;

    text-align: left;
}

.aside-image {
    width: 12rem;
    margin-bottom: 2rem;
}

.contact-aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.contact-aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact-details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact-socials a {
    background: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);

}

.contact-socials a:hover {
    background: transparent;
}

/*FORM*/

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form-name {
    display: flex;
    gap: 1.2rem;
}

.contact-form input[type="text"] {
    width: 50%;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}

.contact-form .btn {
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;

}


/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
    .contact-container {
        gap: 1.5rem;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 8rem 1rem;
        height: auto;
        padding: 1rem;
    }

    .contact-aside {
        margin-top: 0;
        padding: 1.5rem;
        transform: translateY(0%);
    }

    .contact-form {
        align-items: center;
        justify-items: center;
        margin-right: 0;
        width: 100%;
    }


}