.activitieCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 290px;
  height: 350px;
  background-color: #424890;
  padding: 1rem 28px;
  border-radius: 12px;
}

.activitieTitle {
  font-size: 40px;
}

.activitieText {
  margin-top: 10px;
  height: 90px;
}

.activitieAcessURL {
  width: 100%;
  margin-top: 14px;
  padding: 16px 0;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s;
  border-radius: 16px;

}

.activitieAcessURL:hover {
  background-color: #5159b5;
}