.activitySliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
}

.activitySlider {
  width: 100%; /* Garante que o swiper ocupe toda a largura */
}

.swiper-slide {
  height: auto !important; /* Define a altura dos slides como automática */
}

.activitySliderNextButton,
.activitySliderPrevButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 64px;
  cursor: pointer;
  z-index: 10;
}

.activitySliderNextButton {
  right: 32px;
}
.activitySliderPrevButton {
  left: 32px;
}

@media screen and (max-width: 1024px) {
  .activitySliderNextButton {
    right: 5px;
  }
  .activitySliderPrevButton {
    left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .activitySliderNextButton,
  .activitySliderPrevButton {
    display: none;
  }
}
