/* .tituloBase {
  margin-bottom: 0.1rem;
  font-weight: 500;
  position: relative;
  font-size: 2rem;
  margin-top: 80px;
}

.tituloBase::after {
  position: absolute;
  content: '';
  width: 30%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right,  rgb(106, 6, 236), rgb(220, 0, 240));
  transform: translateX(-50%);
}

.cronContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cron {
  margin-top: 3rem;
} */

.activitiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activitiesCardsSection {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 100px;
}