.confirmedActivitiesContainer {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.confirmedActivitiesContainer h1 {
  font-weight: 700;
  font-size: 52px;
  text-align: center;
}

.buttonGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-left: 18%;
  padding-right: 18%;
}

.categoryButton.active {
  background: #F29D35;
  color: black;
  font-weight: bold;
}

.heading {
  font-weight: 500;
  margin-bottom: 80px;
  position: relative;
  margin-top: 80px;
}

.categoryButton.active:hover {
  background: #F29D35;
  color: black;
  font-weight: bold;
}

.categoryButton:hover {
  background: var(--color-bg1);
}

.categoryButton {
  margin: 0 5px;
  padding: 7px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  width: 100%;
  height: 50px;
  background-color: var(--color-bg2);
}

@media screen and (max-width: 1300px) {
  .buttonGroup {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 799px) {
  .buttonGroup {
    padding-left: 9%;
    padding-right: 9%;
  }
}
