.cronDetails p {
  margin-top: 0.5rem;
  text-align: center;
  width: 80%;
}

.cronMember {
  background: var(--color-bg2);
  padding: 2rem;
  margin: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.cronMember:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.cronMemberImage img {
  width: 15rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.cronMemberInfo * {
  text-align: center;
  margin-top: 1.4rem;
}

.cronMemberInfo p {
  text-align: justify;
  color: var(--color-light);
  margin-top: 0;
}

.cronMemberInfo h4 {
  margin-bottom: 1rem;
}


@media screen and (max-width: 1024px) {

  .cronContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .cronDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cronMember {
    padding: 1rem;
    flex-direction: column;
  }

  .cronMemberImage {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
  }

  .cronMemberImage img {
    margin: 0;
  }
}
