.container {
  padding: 2rem;
}

.sectionContainer {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #424890;
  text-align: justify;
}

.sectionContainer p {
  font-weight: bold;
  font-size: larger;
}

.detach {
  font-weight: bold;
  color: #f2b035;
}

.link{
  text-decoration: underline;
  text-align: center;
  color: #f2b035;
}

.warning {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.sectionContainer h2{
  margin-bottom: 0px !important;
}

.paymentGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 3rem 1rem;
}

.paymentGroupDivider{
  border-bottom: dashed #fff 2px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.infoGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.info {
  width: 100%;
  padding: 0.8rem 1rem;
  text-align: center;
  border-radius: 999px;
  color: #000;
  font-weight: 500;
  background-color: white;
}

.infoList {
  width: 70%;
  margin-left: auto;
  padding: 0.8rem 1rem;
  text-align: center;
  border-radius: 999px;
  color: #000;
  font-weight: 600;
  font-size: small;
  background-color: white;
}

.QRContainer button {
  width: 16rem;
  padding: 12px 0;
  border-radius: 0.5rem;
  background-color: #F29D35;
  color: #502c00;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.QRContainer button:hover {
  border-width: 3px;
}

.QRContainer button:hover {
  background-color: #ff7300;
  color: white;
}

.QRContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 0;
}

.QRCode {
  width: 16rem;
  height: 16rem;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #FFF;
  color: #000;
}

.payment {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
}

.paid {
  background-color: green;
  border-radius: 10px;
  padding: 5px;
  font-weight: bolder;
  font-size: small;
}

.pending {
  background-color: red;
  color: yellow;
  border-radius: 10px;
  padding: 5px;
  font-weight: bolder;
  font-size: small;
}

@media screen and (max-width: 600px) {
  .sectionContainer {
      padding: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .paymentGroup {
      flex-direction: column;
  }
}