.paragrafo {
    padding: 1rem;
    text-align: justify;
}

.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.orgsContainer {
    overflow-x: hidden;
    position: relative;
}

.org {
    padding: 2rem;
}

.orgInfo {
    text-align: center;
}

.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}