.nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
  background: var(--color-bg1);
}

.windowScroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.navContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.open {
  display: flex; /* Exibe o menu quando a classe 'open' está presente */
}

.navMenu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.navMenu a:hover {
  color: var(--color-bg2);
}

@media screen and (max-width: 1024px) {
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button.close-menu-btn {
    display: none;
  }

  .navMenu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .navMenu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItens 400ms linear forwards;
    transform-origin: top right;
  }

  .navMenu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .navMenu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  .navMenu {
    right: 3%;
  }

  .navMenu li {
    height: 4rem;
  }
}
