.h2 {
  padding: 0.5rem;
}

.link{
  font-weight: bold;
  color: yellow;
  text-decoration: underline;
}

.paragrafo {
  padding: 1rem;
  text-align: justify;
  font-size: 18px;
}

.sectionButtons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
