.partners {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.partners h1 {
  text-align: center;
}

.partnersContainer {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.partnersContainer h1 {
  text-align: center;
}

.avatarPartner {
  width: 16rem;
  height: 16rem;
  border-radius: 10%;
  overflow: hidden;
  margin: 0 auto 1rem;
}

.partnerInfo {
  text-align: center;
}
