* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --color-primary: #6c63ff;
  --color-sucess: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

main {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 80vh;
  margin-bottom: 5rem;
  background: var(--color-bg1);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));;
  align-items: center;
  gap: 5rem;
  height: 100%;
  text-align: center;
}

.main-container .main-left h1{
  font-size: 48px;
  font-weight: 700;
}

.main-container .main-left h3{
  font-size: 32px;
  font-weight: 600;
}

.main-container .main-left h5{
  margin-top: 8px;
  font-size: 18px;
}

.main-container .main-left p {
  margin-top: 26px;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.section-buttons a {
  margin-bottom: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7 ;
  color: var(--color-white);
  background: var(--color-bg);
  background-image: url("./assets/images/bg-stars.svg");
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  font-weight: 500;
}

.btn:hover {
  background-position: left bottom;
}

.btn-primary {
  background: linear-gradient(to right, #f5503a 50%, var(--color-danger) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 300ms ease-out;
}

.titulo-base,
.titulo-principal {
  margin-bottom: 0.1rem;
  font-weight: 500;
  margin-bottom: 80px;
  position: relative;
  margin-top: 80px;
  font-size: 1.5rem;
}


.titulo-base::after,
.titulo-principal::after {
  position: absolute;
  content: '';
  width: 30%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
  transform: translateX(-50%);
}

.titulo-principal {
  font-size: 2rem;
  text-align: center;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {

  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }
  
}

/* MEDIA QUERIES (PHONES) */

@media screen and (max-width: 600px) {

  .container {
    width: var(--container-width-sm);
  }

  .main-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    height: 100vh;
  }

}