.accordionContainer{
    background-color: var(--color-bg1);
    padding: 16px 32px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.accordionTitle{
    font-size: 28px;
    color: var(--color-white);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.accordionTitle h2{
    margin: 0;
}

.accordionTitle i{
    font-size: 42px;
}

.accordionActive{
    display: block;
    padding-bottom: 16px;
}

.accordionDisable{
    display: none;
}

@media screen and (max-width: 1024px) {
    .accordionTitle h2{
        text-align: left;
        font-size: 20px;
    }
}